{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}
<h1>Ajouter une photo</h1>
<twig:BootstrapButton type="primary" path="{{ path('app_picture') }}" label="Retourner à la liste" />

{{ form(formCreate) }}

{{ dump(picture) }}
{% endblock %}
