{% extends 'base.html.twig' %}

{% block title %}Edit une photo{% endblock %}

{% block body %}
<h1>Modifier une photo ({{ picture.id }}) </h1>
<twig:BootstrapButton type="primary" path="{{ path('app_picture') }}" text="Retourner à la liste" />

{{ form(formEdit) }}

{{ dump(picture) }}
{% endblock %}
