{% extends 'base.html.twig' %}

{% block title %}Accueil | Mes photos!{% endblock %}

{% block body %}

<div class="card quote-of-the-day">
  <div class="card-header">
    Citation du jour / Quote of the day
  </div>
  <div class="card-body">
    {{ quote }}
  </div>
</div>

<h1>Mes évènements</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for i in 1..3 %}
  <div class="col">
    <twig:BootstrapCard
      title="Evènement"
      imgSrc="https://picsum.photos/seed/{{ i }}/200/300"
      btnLink=""
      btnLabel="Détails"
    >

    </twig:BootstrapCard>
  </div>
  {% endfor %}
</div>

{% endblock %}
