{% macro nav_link(label, route) %}
<li class="nav-item">
    <a class="nav-link {{ app.current_route == route ? 'active' : '' }}" 
        aria-current="page" href="{{ path(route) }}">{{ label }}</a>
</li>
{% endmacro %}

