{# Définition du gabarit TWIG associé à mon composant #}

{#  
    La variable strType est utilisée pour afficher le "type" (couleur) du bouton,
    Cela permet de pouvoir y rajouter l'indication "outline" sur les classes 
#}
<button type="button" class="btn btn-{{ strType }}">{{ text }}</button>