<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{imgSrc}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    {% block content %}{% endblock %}
    <a href="{{ btnLink }}" class="btn btn-primary">{{ btnLabel }}</a>
  </div>
</div>