{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}

<img src={{ asset('images/404.webp') }} />
<a href="{{ path('app_home') }}">Revenir à l'accueil</a>

{% endblock %}
